.ipynb_checkpoints/
Client\ Work/BSCP/.ipynb_checkpoints/
Provider\ Transparency\ Project/*.csv
Provider\ Transparency\ Project/*.log
Provider\ Transparency\ Project/Archive/
DRG\ Code\ Generator/.ipynb_checkpoints/
DRG\ Code\ Generator/*.txt
Staff\ Clustering/.ipynb_checkpoints/
Molina\ Letter\ Process/.ipynb_checkpoints/
DRG\ Price\ Calculator/.ipynb_checkpoints/
!Provider\ Transparency\ Project/prov_1_data.csv
Staff\ Clustering/Archive/